var ImageSelector = React.createClass({

	getInitialState: function(){
		return{
			imgState:  "<%= image_path('Trump1.jpg') %>",
			templateRef: 1
		}
	},

	_changePicState: function(imageLink, id){
		this.setState({imgState: imageLink, templateRef: id})
	},

	_getThumbnails: function(){
		const thumbnailList = [
		{id: 1, imageLink: "<%= image_path('Trump1.jpg') %>"},
		{id: 2, imageLink: "<%= image_path('Trump3.jpg') %>"},
		{id: 3, imageLink: "<%= image_path('Trump7.jpg') %>"},
		{id: 4, imageLink: "<%= image_path('Trump2.jpg') %>"},

		]

		return thumbnailList.map((e) => {
			return (
				<ImageThumbnail key={e.id} imageLink={e.imageLink} onClick={this._changePicState} id={e.id}/>
				)
		});
	},

	_runFormFunc: function(event){
		this.props.formFunc(event)
	},

	render: function() {
	const thumbnails = this._getThumbnails()

	if (this.state.templateRef == 1){
		return (
			<div>
				<div className="thumbnail-row">
					<div className="input-container">
						<div><img id="logo" src="<%= image_path('trumplogo.png')%>"/></div>
						<input type="text" placeholder="Enter a policy issue" value={this.state.value} onChange={this._runFormFunc}/>
					</div>
					<div className="thumbnail-list">
					{thumbnails}
					</div>
				</div>
			<QuoteTemplate1 textInput={this.props.textInput} />
			</div>
			)
	} else if (this.state.templateRef == 2){
		return (
			<div>
				<div className="thumbnail-row">
					<div className="input-container">
						<div><img id="logo" src="<%= image_path('trumplogo.png')%>"/></div>
						<input type="text" placeholder="Enter a policy issue" value={this.state.value} onChange={this._runFormFunc}/>
					</div>					
					<div className="thumbnail-list">
					{thumbnails}
					</div>
			</div>
			<QuoteTemplate2 textInput={this.props.textInput} />
			</div>
		)
	} else if (this.state.templateRef == 3) {
		return (
			<div>
			<div className="thumbnail-row">
					<div className="input-container">
						<div><img id="logo" src="<%= image_path('trumplogo.png')%>"/></div>
						<input type="text" placeholder="Enter a policy issue" value={this.state.value} onChange={this._runFormFunc}/>
					</div>				
					<div className="thumbnail-list">
				{thumbnails}
				</div>
			</div>
			<QuoteTemplate3 textInput={this.props.textInput} />
			</div>
		)} else if (this.state.templateRef == 4){
			return (
			<div>
			<div className="thumbnail-row">
					<div className="input-container">
						<div><img id="logo" src="<%= image_path('trumplogo.png')%>"/></div>
						<input type="text" placeholder="Enter a policy issue" value={this.state.value} onChange={this._runFormFunc}/>
					</div>				
					<div className="thumbnail-list">
				{thumbnails}
				</div>
			</div>
			<QuoteTemplate4 textInput={this.props.textInput} />
			</div>
			)
		}
}

});

var ImageThumbnail = React.createClass({

	_runPropFunc: function(){
		this.props.onClick(this.props.imageLink, this.props.id)
	},

	render: function(){
		return (
			<img key={this.props.id} src={this.props.imageLink} className="thumbnail" onClick={this._runPropFunc} />
			)
	}
})